.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: url('../assets/images/questboard.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-form {
  padding: 20px;
  max-width: 500px;
  width: 100%;

}

.contact-form h1 {
  margin-bottom: 20px;
  font-size: 29px;
  color: #432818;
}

.contact-form div {
  margin-bottom: 15px;

}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #432818;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #bb945717;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  background-color: #ae2012;
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;

}

.contact-form button:hover {
  background-color: #ffbd00;
}